@font-face {
    font-family: "Quicksand-Bold";  
    src: url("./../fonts/Quicksand-Bold.otf") format("opentype"); 
}

@font-face {
    font-family: "FredokaOne-Regular";
    src: url("./../fonts/FredokaOne-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Quicksand-Regular";
    src: url("./../fonts/Quicksand-Regular.otf") format("opentype");
}

@font-face {
    font-family: "Sniglet-ExtraBold";
    src: url("./../fonts/Sniglet-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Quicksand-Book";
    src: url("./../fonts/Quicksand_Book.otf") format("opentype");
}