@media (max-width: 1024px) {
    .container {
        width: 90vw;
    }

    .grid-plus {
        height: 75px;
        width: 75px;
        left: 25px;
    }

    .grid-like {
        height: 75px;
        width: 75px;
        right: 25px;
    }

    .footer1-content-img {
        margin-left: 10px;
    }

}

