body {
    box-sizing: border-box;
}

header, .white {
    background-color:#ffffff;
}


main {
    background-color:#f1edea;
    /* background-image: url("../../public/img/slide-1.jpg"); */
    padding-top: 35px;
}

.brown {
    background-color: #45413e;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.header1 {
    display: flex;
    justify-content: space-between;
    margin: 25px auto;
}

.navigation {
    margin-top: 4px;
    font-family: "FredokaOne-Regular";
    text-transform: uppercase;
}

.navigation a {
    color: #45413e;
}

.navigation a:hover {
    color: #95867b;
}

.navigation li {
    display: inline;
    padding-left: 30px;
}

.settings {
    margin-left: 25px;
    margin-top: 3px;
}

.settings select {
    border: none;
    color: #a2a09e;
    font-family: "Quicksand-Bold";
}

.icons img {
    padding-left: 40px;
}

.icons a {
    position: relative;
}

.icons span {
    position: absolute;
    left: 30px;
}

.main1 {
    display: flex;
    justify-content: space-between;
}

.categories-menu {
    width: 23%;
    min-height: 505px;
    background-color: #ffffff;
    border-radius: 8px;
    font-family: "Quicksand-Book";
}

.categories-menu ul {
    padding: 0 30px;
}

.categories-menu li {
    padding: 10px 0;
}

.categories-menu a {
    color: #2c3e50;
}

.categories-menu a:hover {
    color: #95b4d4;
}

.slider {
    width: 74%;
    position: relative;
}

.slider-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    opacity: 0.6;
    border-radius: 8px;
    background-color: #816fca;
}

.slider-buttons {
    width: 120px;
    position: absolute;
    bottom: 8%;
    left: 43%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

.choosed-slide {
    background-color:#c4bbd5;
    min-height: 20px;
    min-width: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: transparent;
    cursor: pointer;
}

.choosed-slide:hover {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.slides {
    position: relative;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    min-height: 505px;
    border-radius: 8px;
    overflow: hidden;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background-size: 100%;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.slide-description {
    position: relative;
    height: 100%;
    font-family: "FredokaOne-Regular";
    color: white;
    background-color: rgba(151, 136, 208, 0.5);
}

.slide-description h2 {
    position: absolute;
    left: 60px;
    top: 80px;
    width: 56%;
    font-size: 250%;
}

.slide-description p {
    position: absolute;
    left: 60px;
    top: 290px;
    width: 38%;
}

.slide-description button {
    position: absolute;
    left: 60px;
    top: 365px;
    width: 150px;
    height: 40px;
    background-color: transparent;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    text-transform: uppercase;
}

.slide-description button:hover {
    box-shadow: 0 0 20px 10px rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.slide img {
    width: 100%;
    height: 100%;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.controls-left {
    position: absolute;
    left: 0px;
    top: 220px;
    z-index: 3;
    width: 30px;
    height: 60px;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color:#f1edea;
    cursor: pointer; 
}

.controls-right {
    position: absolute;
    right: 0px;
    top: 220px;
    z-index: 3;
    width: 30px;
    height: 60px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color:#f1edea;
    cursor: pointer;

}

.controls-left:focus, .controls-right:focus, .grid-like, .grid-plus, .view-more {
    outline: none;
}

.controls-left:active {
    border-top: 2px solid rgba(84,69,145,0.8);
    border-right: 2px solid rgba(84,69,145,0.8);
    border-bottom: 2px solid rgba(84,69,145,0.8);
} 

.controls-right:active {
    border-top: 2px solid rgba(84,69,145,0.8);
    border-left: 2px solid rgba(84,69,145,0.8);
    border-bottom: 2px solid rgba(84,69,145,0.8);
}

.controls-left img {
    position: absolute;
    top: 25px;
    left: 0px;
}

.controls-right img {
    position: absolute;
    top: 25px;
    right: 0px;
}

.grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grid-item {
    width: 23%;
    height: 365px;
    background-color:#ffffff;
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.grid-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(151, 136, 208, 0.5);
    z-index: 2;
    display: none;
}

.grid-item:hover .grid-mask {
    display: block;
}

.grid-plus {
    height: 90px;
    width: 90px;
    top: 130px;
    left: 35px;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    background-color: white;
    cursor: pointer;
}

.grid-like {
    height: 90px;
    width: 90px;
    top: 130px;
    right: 35px;
    border: none;
    border-radius: 50%;
    position: absolute;
    z-index: 3;
    background-color: white;
    cursor: pointer;
}

.favorites {
    background-color: #fb958b;
}

.wanted {
    background-color: #67f9dc;
}

.grid-plus:hover, .grid-like:hover {
    box-shadow: 0 0 20px 20px rgba(0,0,0,0.3), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.grid-plus:active, .grid-like:active, .view-more:active {
    border: 3px solid rgba(84,69,145,0.8);
}

.grid-item-img {
    height: 260px;
    overflow: hidden;
}

.grid-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    color: #2c3e50;
    font-family: "Quicksand-Bold";   
}

.grid-item-price {
    margin: 0 auto;
    text-align: center;
    color: #bdc3c7;
    font-family: "Sniglet-ExtraBold";
}

.grid-lable {
    height: 300px;
    margin: 30px 45px 35px 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    text-align: center;
    color: white;
    font-family: "Quicksand-Bold";
}

.grid-lable-category {
    text-transform: uppercase;
}

.grid-lable-name {
    text-transform: uppercase;

}

.lable-kitchen {
    background-color: #ffa370;
}

.lable-accesories {
    background-color: #83d38c;
}

.main-button {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.view-more {
    width: 300px;
    height: 55px;
    background-color: #816fca;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    color: white;
    font-family: "Quicksand-Bold";
    text-transform: uppercase;
    cursor: pointer;
}

.footer1 {
    display: flex;
    justify-content: space-between;
}

.footer1-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 33%;
    min-height: 195px;
    font-family: "Quicksand-Bold";
}

.footer1-content-img {
    margin-left: 50px;
}

.footer1-content-text {
    width: 210px;
}

.footer1-content h3 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.footer1-content p {
    color: #868380
}

.footer2 {
    min-height: 450px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.footer2 a {
    color:#7c7a78;
}

.footer2 a:hover {
    color: #4a4846;
}

.footer2-date {
    width: 185px;
    font-family: "Quicksand-Bold";
}

.footer2-categories {
    padding-left: 20px;
    width: 540px;
    font-family: "Quicksand-Bold";
    color: #7c7a78;
}

.footer2-about {
    width: 120px;
    font-family: "Quicksand-Bold";
    color: #7c7a78;
}

.footer2-socials {
    width: 150px;
}

.footer2-socials img {
    float: right;
    padding-left: 20px;
}

.footer2 h3 {
    font-family: "FredokaOne-Regular";
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 30px;
}

.footer2 li {
    line-height: 2.8;
    font-size: 0.9em;
}

.white {
    background-color: white;
}

.footer2-categories ul {
    column-count: 3;
}
